body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #1e293b;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
  margin: 20px auto;
  width: 80%;
  background: white;
  border-radius: 8px;
}

h2 {
  color: #1e293b;
}

ul {
  list-style-type: square;
}

footer {
  text-align: center;
  padding: 15px;
  background: #e2e8f0;
}
.resume-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.resume-btn:hover {
  background-color: #0ea5e9;
  color: white;
}

